.sidebar {
  > * {
    padding: get-size('700') 0 get-size('900') 0;
  }

  > :last-child {
    border-top: 1px solid var(--color-stroke);
  }

  @include media-query('md') {
    display: flex;
    flex-direction: row-reverse;

    > :last-child {
      width: 16.5rem;
      flex-shrink: 0;
      border-top: 0;
      border-right: 1px solid var(--color-stroke, currentColor);
      padding-right: get-size('500');
    }

    > :first-child {
      padding-inline-start: get-size('700');
      width: calc(100% - 16.5rem);
    }
  }
}
