/**
 * Splitter 
 * A responsive flex container that pushes content away from each other 
 */
.splitter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
