.code-block {
  background: var(--color-bg-rev);
  border: 1px solid var(--color-stroke);
  padding: get-size('400') 0;
  position: relative;
  overflow: hidden;
  color: var(--color-text-rev);

  &__code {
    padding-top: get-size('300');
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    background: var(--color-bg);
    border-left: 1px solid var(--color-stroke);
    border-bottom: 1px solid var(--color-stroke);
    font-size: get-size('300');
    line-height: 1.1;
    z-index: 1;

    @include apply-utility('font', 'mono');
  }

  &__header dd,
  &__header button,
  &__alert {
    padding: 0.5rem 1rem 0.6rem 1rem;
  }

  &__header dd {
    color: var(--color-text);
  }

  &__header button {
    font: inherit;
    color: var(--color-text);
    background: transparent;
    border: 0;
    border-left: 1px solid var(--color-stroke);
    cursor: pointer;
    line-height: 1;
    text-transform: uppercase;
  }

  &__header button:hover {
    background: get-color('primary');
    color: get-color('dark-mid');
  }

  &__header button:focus {
    outline-offset: -0.4rem;
    outline-width: 1px;
  }

  &__header button:active {
    transform: scale(0.99);
  }

  &__alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    background: get-color('primary');
    color: get-color('dark-mid');
    user-select: none;
  }

  @include media-query('md') {
    padding-left: get-size('500');
    padding-right: get-size('500');
  }
}
