/**
 * Ender 
 * Sets end styles like site head and site foot consistently 
 */
.ender {
  background: var(--color-bg-rev);
  color: var(--color-text-rev);
  outline: 1px solid var(--color-bg-rev); // If custom props don't work, this will still provide a visual seperator

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'bold');
}
