.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    display: inline-flex;
    align-items: baseline;
    text-decoration-color: var(--color-underlines);

    // Flip content if direction is backwards
    &[data-direction='backwards'] {
      flex-direction: row-reverse;

      svg {
        transform: rotate(-180deg);
      }
    }

    // If only child and forwards, push out to the right
    &[data-direction='forwards']:only-child {
      margin-left: auto;
    }
  }

  svg {
    pointer-events: none;
    height: 1.5ex;
    width: auto;
  }
}
