.pill {
  @extend .radius;

  display: block;
  flex-shrink: 0;
  padding: 0.4rem 0.5rem 0.3rem 0.5rem;
  font-size: get-size('400');
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: get-color('dark-mid');

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'semibold');

  &:hover {
    transform: translateY(-0.15rem);
    transition: transform 200ms linear;
  }

  // Apply a default background colour if no token set
  &:not([class*='bg-']) {
    background: get-color('light-mid');
  }

  // Capitalize only in english
  [lang*='en'] & {
    text-transform: capitalize;
  }
}
