.post {
  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    time {
      flex-shrink: 0;
    }
  }

  a {
    text-decoration-color: var(--color-underlines);
  }

  h2 a,
  h3 a {
    &:not(:hover) {
      text-decoration: none;
    }
  }

  time {
    margin-inline-end: get-size('400');
  }

  blockquote {
    @extend .flow;

    font-style: italic;
    border-left: 0.5rem solid get-color('primary');
    padding: 1rem 1rem 1rem 1.5rem;
  }

  // Body element is the main meat and potatoes of a page or post
  &__body {
    // Anything that's not supposed to "bleed out" should be limited
    > * {
      @include apply-utility('measure', 'long');
    }

    h2,
    h3,
    h4,
    h5 {
      scroll-margin-top: var(--flow-space);
      @include apply-utility('measure', 'short');
    }

    // Specific flow between items
    h2,
    h3 {
      --flow-space: #{get-size('900')};
    }

    h2 + *,
    h3 + * {
      --flow-space: #{get-size('500')};
    }

    ul,
    ol {
      padding-left: 1.3rem;
    }

    li + li {
      margin-top: get-size('300');
    }

    li > ul,
    li > ol {
      margin-top: get-size('400');
      margin-bottom: get-size('500');
    }

    code {
      font-size: 0.82em;
    }

    > dl {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.5rem 1rem;
    }

    dt {
      @include apply-utility('weight', 'bold');
    }
  }

  @include media-query('md') {
    blockquote {
      font-size: get-size('600');
    }
  }
}
