.site-foot {
  padding: get-size('800') 0;
  border-top: 1px solid var(--color-stroke);

  ul {
    list-style: none;
    padding: 0;
  }

  li + li {
    margin-top: 0.25rem;
  }

  a {
    text-decoration-color: get-color('primary');
  }

  h2 {
    font-size: get-size('500');
    @include apply-utility('font', 'sans');
  }

  // Override the splitter to align top
  .splitter {
    align-items: flex-start;
  }
}
