code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.attr-value,
.token.punctuation {
  color: var(--color-text-rev);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.tag {
  color: get-color('primary');
}
