.trigger-button {
  display: inline-flex;
  align-items: baseline;
  padding: 0;
  border: 0;
  text-decoration: underline;
  text-decoration-color: var(--color-underlines);
  cursor: pointer;
  background: transparent;
  color: currentColor;
  -webkit-appearance: none;

  svg {
    height: 1ex;
    width: auto;
    margin-inline-start: get-size('400');
    margin-top: -2px; // Optical adjustment
    opacity: 0.7;
  }

  &[aria-expanded='true'] {
    svg {
      transform: rotate(-180deg);
    }
  }
}
