/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
 * SIZE SCALE
 * This is a Perfect Fourth scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
$gorko-size-scale: (
  '300': $gorko-base-size * 0.75,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.33,
  '600': $gorko-base-size * 1.77,
  '700': $gorko-base-size * 2.36,
  '800': $gorko-base-size * 3.15,
  '900': $gorko-base-size * 4.2
);

/**
 * COLORS
 * Colors are shared between backgrounds and text by default. 
 * You can also use them to power borders, fills or shadows, for example.
 */
$gorko-colors: (
  'dark': #252525,
  'dark-mid': #141414,
  'dark-glare': #414141,
  'light': #fbfbfb,
  'light-mid': #e5e5e5,
  'light-glare': #ffffff,
  'primary': #d3bdff,
  'primary-mid': #8243ff,
  'primary-glare': #ede4ff
);

/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background'
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color'
  ),
  'flow-space': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--flow-space'
  ),
  'font': (
    'items': (
      'base': 'Georgia, serif',
      'sans': '"Catamaran", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif',
      'serif': '"Noto Serif", Times New Roman, serif',
      'mono': '"Source Code Pro", Courier New, Courier, monospace'
    ),
    'output': 'standard',
    'property': 'font-family'
  ),
  'gap-top': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'pad-top': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-top'
  ),
  'pad-bottom': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-bottom'
  ),
  'leading': (
    'items': (
      'loose': 1.5,
      'tight': 1.2
    ),
    'output': 'standard',
    'property': 'line-height'
  ),
  'measure': (
    'items': (
      'short': '48ch',
      'long': '65ch'
    ),
    'output': 'responsive',
    'property': 'max-width'
  ),
  'text': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'font-size'
  ),
  'weight': (
    'items': (
      'normal': 400,
      'semibold': 600,
      'bold': 700
    ),
    'output': 'standard',
    'property': 'font-weight'
  ),
  'breakpoints': (
    'md': '(min-width: 54em)'
  )
);
