/**
 * Theme
 *
 * Sets custom properties for background colour, text colour and stroke colour
 * based on default light theme or dark theme
 */

@import 'mixins/dark-mode';

:root {
  --color-bg: #{get-color('light')};
  --color-bg-rev: #{get-color('dark')};
  --color-stroke: #{get-color('dark')};
  --color-text: #{get-color('dark')};
  --color-text-rev: #{get-color('light')};
  --color-underlines: #{get-color('primary-mid')};
  --color-input: #{get-color('dark-glare')};
}

@include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-rev: #{get-color('dark-mid')};
  --color-stroke: #{get-color('primary')};
  --color-text: #{get-color('light')};
  --color-underlines: #{get-color('primary')};
  --color-input: #{get-color('primary')};
}
