// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

// Theme styles
@import 'theme';

// Global styles
body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  overflow-x: hidden;

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
  @include apply-utility('leading', 'tight');
  @include apply-utility('measure', 'short');
}

h1 {
  font-size: get-size('700');
}

h2 {
  font-size: get-size('600');
}

a {
  color: currentColor;
}

svg {
  fill: currentColor;
}

hr {
  --flow-space: #{get-size('900')};

  max-width: 40rem;
  margin: var(--flow-space) auto;
  border: none;
  border-top: 1px solid var(--color-stroke);
}

code {
  @include apply-utility('font', 'mono');
}

:focus {
  outline: 2px solid var(--color-text);
  outline-offset: 0.2rem;
}

main:focus,
nav:focus {
  outline: none;
}

button:focus {
  outline-offset: 0.35rem;
}

// Super high contrast selection style
::selection {
  background: rgba(get-color('primary'), 0.99);
  color: get-color('dark-mid');
}

::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: get-color('dark-glare');
}

::-webkit-scrollbar-track:horizontal {
  @extend .radius;
}

::-webkit-scrollbar-thumb {
  @extend .radius;
  background-color: get-color('primary');
}

@include media-query('md') {
  h1 {
    font-size: get-size('800');
  }

  h2 {
    font-size: get-size('700');
  }
}

// Import blocks
@import 'blocks/button';
@import 'blocks/code-block';
@import 'blocks/ender';
@import 'blocks/_heading-permalink.css';
@import 'blocks/site-foot';
@import 'blocks/site-head';
@import 'blocks/skip-link';
@import 'blocks/syntax';
@import 'blocks/pagination';
@import 'blocks/pill';
@import 'blocks/post';
@import 'blocks/theme-toggle';
@import 'blocks/trigger-button';

// Import utilities
@import 'utilities/cluster';
@import 'utilities/expander';
@import 'utilities/flow';
@import 'utilities/sidebar';
@import 'utilities/splitter';
@import 'utilities/radius';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
