{% set pageTitle = title + ' - ' + site.titleSuffix %}

{# We don't want any duplication. This is likely for the homepage #}
{% if site.name === title %} 
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If there's no title in front matter, we’ll use the title set in _data/site.json #}
{% if not title %}
  {% set pageTitle = siteTitle %}
{% endif %}

{# If the page’s front matter has specific metaTitle and/or metaDesc items, switch 
  them into the mix #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
  {% if page.url === "/" %}
    {# Sets meta desc as the site bio on the homepage #}
    {% set metaDesc = site.bio %}
  {% else %}
    {% set metaDesc = summary %}
  {% endif %}
{% endif %}


<title>{{ pageTitle }}</title>

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}
