{% set navLinkListClass = 'cluster' %}
{% set navLinkItemClass = 'pill' %}

<div class="flow flow-space-700 modal-open-inert">
  <nav class="flow flow-space-600" aria-label="secondary" id="secondary-navigation" tabindex="-1">
    <section>
      <disclosure-toggle button-label="Tags">
        <h2>Tags</h2>
        {% set navLinkItems = collections.tags %}
        {% include "partials/nav-links.html" %}
      </disclosure-toggle>
    </section>
    <section>
      <disclosure-toggle button-label="Categories">
        <h2>Categories</h2>
        {% set navLinkItems = collections.categories %}
        {% include "partials/nav-links.html" %}
      </disclosure-toggle>
    </section>
    <section>
      <disclosure-toggle button-label="Talks">
        <h2>Talks</h2>
        {% set navLinkItems = conferences.items %}
        {% include "partials/nav-links.html" %}
      </disclosure-toggle>
    </section>
  </nav>
  <theme-toggle></theme-toggle>
</div>
