<footer class="[ site-foot ] [ ender ]">
  <div class="wrapper">
    <div class="splitter">
      <div>
        <h2>Follow me on:</h2>
        <ul>

          {% if site.mastodonHandle %}
          <li>
            <a rel="me" href="https://front-end.social/{{ site.mastodonHandle }}" rel="external">Mastodon</a>
          </li>
          {% endif %}

          {% if site.gitHubHandle %}
          <li>
            <a rel="me" href="//github.com/{{ site.gitHubHandle }}" rel="external">GitHub</a>
          </li>
          {% endif %}

          {% if site.linkedinHandle %}
          <li>
            <a rel="me" href="//www.linkedin.com/in/{{ site.linkedinHandle }}" rel="external">LinkedIn</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <p>
        &copy; {{ site.authorName }} Carpe diem
      </p>
    </div>
  </div>
</footer>
